{% extends "box.html" %}

{% block head %}
	
    <!-- ExtJS -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}extjs/resources/css/ext-all.css"/>

    <!-- GC -->
    <!-- LIBS -->
    <script type="text/javascript" src="{{ MEDIA_URL }}extjs/adapter/ext/ext-base.js"></script>
    <!-- ENDLIBS -->

    <script type="text/javascript" src="{{ MEDIA_URL }}extjs/ext-all-debug.js"></script>

    <!-- APP -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}resources/css/app.css"/>
    
    <!-- FAM -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}resources/css/silk.css"/>
    
    <script type="text/javascript" src="{{ MEDIA_URL }}resources/js/app/Viewport.js"></script>

{% endblock %}

{% block body %}
<div id="header">CloudStore.</div>
{% endblock %} 