
/*
AWESOME
*/



.awesome, .awesome:visited {
	background: #222 url(/media/resources/images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

	.awesome:hover							{ background-color: #111; color: #fff; }
	.awesome:active							{ top: 1px; }
	.tiny.awesome, .tiny.awesome:visited 			{ font-size: 11px; padding: 5px 10px 6px; }
	.awesome, .awesome:visited,
	.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }
	
	.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
	.green.awesome:hover						{ background-color: #749a02; }
	.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
	.blue.awesome:hover							{ background-color: #007d9a; }
	.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
	.red.awesome:hover							{ background-color: #872300; }
	.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
	.magenta.awesome:hover							{ background-color: #630030; }
	.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
	.orange.awesome:hover							{ background-color: #d45500; }
	.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
	.yellow.awesome:hover { background-color: #fc9200; }

	
html {
	background:url("/media/resources/images/bg.png") repeat scroll 0 0 #BCC2C6;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
input {
	border: gray 1px solid;
	padding: 3px;
}

.list {
	font-size:9pt;
}

.list ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.list li {
	background-color: white;
}

.list li.even {
	background-color: #fdfad7;
}

.list ul li a {
	background: url(/media/resources/images/arrow_right.png) no-repeat right center;
    border: 1px solid #999999;
    color: #222222;
    display: block;
    font-size: 9pt;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}

.list ul li a.leaf {
	/*background: transparent;
	
background: white;
*/
}

.list ul li a.row-bg {
	font-weight:normal;
	background: url(/media/resources/images/delim.png) no-repeat 5.5% -2px;	
}



.list ul li a:hover {
	background-color: #9acdf8;;
	/*
color: white;
*/
}

.list ul li a span.idn {
	color: #AAA;
}

.list ul li a span.idn:hover {
	color: #666;
}


.simple-nav { margin-bottom:1em; height:13px; text-align:center; }
.simple-nav li,
.simple-nav li a { display:-moz-inline-stack; display:inline-block; *display:inline; zoom:1; }
.simple-nav li { position:relative; margin-right:8px; width:13px; height:13px; *height: 12px; overflow:hidden; }
.simple-nav li.last-dot { margin-right: 0; }
.simple-nav li a { position:absolute; width:13px; height:38px; top:0; left:0; outline:none; cursor:pointer; text-indent:-9999px; line-height:0; background:url(/media/resources/images/gallerynav_simple20100901.png) no-repeat 0 0; }
.simple-nav li a:hover { top:-13px; }
.simple-nav li a.active { cursor:default; top:-26px; opacity:1; -moz-opacity:1; }

.step-count {
-moz-border-radius:4px 4px 4px 4px;
background-color:#DEF2F7;
font-size:2em;
padding:5px 10px;
margin:-3px;	
}

.breadcrumbs {
	font-size:11px;
}


label.required {
	font-weight: bold;
}

.disclaimer {
	background: #dbe7f1;
	padding: 20px;
	font-size: 16px;
	text-align: center;
	border-bottom: 1px solid #c4d2db;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Verdana,
		sans-serif;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, .35);
	text-transform: uppercase;
}

#card {
	width:100%;
	background:none repeat scroll 0 0 white;
}

.inlineLabels legend {
}



/*  
 * Modificators 
 * 
 */

 .auto_wrapper { margin: 0 auto; width: 930px; }

 .margin-auto { margin: 0 auto;}
 
.fl { float: left; }

.flr { float: right; }

.clear { clear: both; }

.center { text-align:center; }

.to-right { text-align:right; }

.bold { font-size:0.9em; }

.big { font-size:16px; }

.border { border-right:1px #666 dotted; }

.col-half, .col-half-r, .col-100, .col-200, .col-300, .col-400, .col-500, .col-600, .col-700, .col-separate-10, .col-separate-15 {
	float:left;
	padding:5px;
	font-size:14px;

}

.col-half, .col-half-r { width: 45%; }

.col-half-r{ float:right; }

.col-100 { width: 100px; }

.col-200 { width: 200px; }

.col-300 { width: 300px; }

.col-400 { width: 400px; }

.col-500 { width: 500px; }

.col-600 { width: 600px; }

.col-700 { width: 700px; }

.col-separate-10 { width:10px; }

.col-separate-15 { width:15px; }

.hid {
	display:none;
}

